    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HairKat - Digital Agency One Page Template</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="
Fatal error: Call to undefined function base_url() in D:\xampp1\htdocs\salon\application\views\common\head.php on line 9

Call Stack:
    0.0341     326696   1. {main}() D:\xampp1\htdocs\salon\application\views\common\head.php:0

